<!DOCTYPE html>
<html>

<head>
	<title>Inserimento Nuovo Commento</title>
</head>

<body>

	<!-- L'h1 va FUORI dal form! -->
	<h1>Inserisci un nuovo Commento</h1>

	<form method="POST" th:action="@{/commenti}" th:object="${commento}">

		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>

		<div>
			<label>Titolo:</label>
			<!-- Usare l'asterisco *{} per i campi dell'oggetto -->
			<input type="text" th:field="*{title}" />
			<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
		</div>


		<div>
			<button type="submit">Conferma</button>
		</div>
	</form>

</body>

</html>