<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Dettaglio Manga</title>
</head>
<body>
	<h1 th:text="${manga.nome}"> Nome Manga </h1>
	
	<div style="margin-top: 20px;">
	    <img th:src="${manga.pathImmagine}" 
	         th:alt="${manga.nome}" 
	         referrerpolicy="no-referrer"  style="max-width: 300px; height: auto; border: 1px solid #ccc;" />
	</div>
	
	<div style="margin-top: 15px;">
		<strong>Descrizione:</strong> 
        <span th:text="${manga.descrizione}">Questo è un bel manga!</span>
	</div>
	
	<div style="margin-top: 15px;">
        <strong>Autore:</strong> 
        
        <a th:if="${manga.autore != null}" 
           th:href="@{'/autori/' + ${manga.autore.id}}"
           th:text="${manga.autore.nome} + ' ' + ${manga.autore.cognome}">Nome Autore
        </a>
        
        <span th:if="${manga.autore == null}">Nessun autore assegnato</span>
    </div>

    <p style="margin-top: 30px;"><a th:href="@{/mangas}">Torna alla lista dei Manga</a></p>
	<p><a th:href="@{/}">Torna alla home</a></p>
</body>
</html>