<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>SIW Manga Talk</title>
</head>

<body>

	<!--- TITOLO -->
	<h1>
		SIW MANGA TALK
	</h1>

	<h2>
		<!-- Corretto da /listaManga a /mangas -->
		<a th:href="@{/mangas}"> Lista Manga</a>
	</h2>

	<h2>
		<a th:href="@{/autori}"> Lista Mangaka </a>
	</h2>

	<h2>
		<a th:href="@{/mieiCommenti}">I miei Commenti</a>
	</h2>
	
	<h2>
		<a th:href="@{/login}">Accedi</a>
	</h2>
	<h2>
		<a th:href="@{/logout}">Logout</a>
	</h2>

	<footer>
		<p>&copy; 2026 SiwMangaTalk</p>
	</footer>
</body>

</html>